@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size:20px;
}
body {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background:url(download.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
}
.btn {
    padding: 20px ;
    border-radius: 20px;
    background-color: lightcoral;
    transition: transform 0.3s;
}
.btn:hover{
    transform:scale(1.1)
}
.new-game p {
    margin: 10px;
}
